:root{
    --main-c:#fdd72d;
    --border-r:.2rem;
  }
  html *{
   margin: 0; 
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 p{
    font-size: 1.1rem;
  }
  
  a{
    text-decoration: none;
  }
  
  ul, li{
    list-style: none;
  }
  
  .wrap-cta{
    padding: 1.5rem 0;
  }
  
  .cta-a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: var(--main-c);
    padding: .5rem 1rem;
    border-radius: var(--border-r);
  }
  
  h1{
    font-size: 2.8rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2.2rem;
  }
  
  /** Header **/
  
  .header{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
  }
  
  .social-logo-header{
    max-width: 150px;
    height: 100%;
    width: 100%;
  }
  
  /** Hero Section **/
  
  .seccion{
    height: 90vh;
    background: url(https://www.la-razon.com/wp-content/uploads/2024/10/15/20/ladron.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(16, 51, 74, 0.7);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
  }
  
  .seccion2 {
    max-width: 500px;
    color: #fff;
    padding: 15%;
  }
  .title {
    display: flex;
    justify-content: center;
    margin: 3rem 1rem;
  }
  
  .servicios {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .item {
    padding: 1rem;
  }
  
  .item  img{
    width: 280px;
    height: 300px;
  }
  
  .columnas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .columna2 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  .text_columna h3{
    padding: 2rem 0;
  }
  
  .text_columna p{
    padding-bottom: 1rem;
  }
 
  section.formulario {
    background-color:#dedada ;
    padding: 3rem 0;
  }
  
  .form input, .form textarea{
    display: flex;
    width: 100%;
    line-height: 1.75rem;
    border: 1.5px solid #032d5e;
    border-radius: var(--border-r);
  }
  
  .form textarea{
    min-height: 200px;
  }
  
  input[type="submit"]{
    border: 0;
    display: inline;
    cursor: pointer;
  }
  
  .footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.social-icons ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.social-icons ul li {
  margin: 0 10px;
}

.icon {
  max-width: 40px;
  height: auto;
}

.menu-footer ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.menu-footer ul li {
  margin: 0 15px;
}

.footer-creds {
  text-align: center;
  padding: 1rem 0;
}
